<h1><%= t "mailer.reset_password" %></h1>
<p><%= t "mailer.reset_instruction" %></p>
<%= link_to t("mailer.reset_password"), edit_password_reset_url(id: @user.reset_token,
  email: @user.email) %>
<p><%= t "mailer.expire_instruction" %></p>
<p><%= t "mailer.ignore_instruction" %></p>
